.icon {
  -webkit-mask-size: cover;
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.icon-home {
  mask-image: url("../icons/academy.svg");
  -webkit-mask-image: url("../icons/academy.svg");
}

.icon-account {
  mask-image: url("../icons/account.svg");
  -webkit-mask-image: url("../icons/account.svg");
}

.icon-sales {
  mask-image: url("../icons/sales.svg");
  -webkit-mask-image: url("../icons/sales.svg");
}

.icon-marketing {
  mask-image: url("../icons/marketing.svg");
  -webkit-mask-image: url("../icons/marketing.svg");
}

.icon-humans {
  mask-image: url("../icons/humans.svg");
  -webkit-mask-image: url("../icons/humans.svg");
}

.icon-settings {
  mask-image: url("../icons/settings.svg");
  -webkit-mask-image: url("../icons/settings.svg");
}

.icon-arrow-right {
  mask-image: url("../icons/arrow-right.svg");
  -webkit-mask-image: url("../icons/arrow-right.svg");
}

.icon-eye {
  mask-image: url("../icons/eye.svg");
  -webkit-mask-image: url("../icons/eye.svg");
}

.icon-check {
  mask-image: url("../icons/Check.svg");
  -webkit-mask-image: url("../icons/Check.svg");
}

.icon-error {
  mask-image: url("../icons/error.svg");
  -webkit-mask-image: url("../icons/error.svg");
}

.icon-error2 {
  mask-image: url("../icons/error2.svg");
  -webkit-mask-image: url("../icons/error2.svg");
}

.icon-bottom-arrow {
  mask-image: url("../icons/bottomArrow.svg");
  -webkit-mask-image: url("../icons/bottomArrow.svg");
}

.icon-edit {
  mask-image: url("../icons/edit.svg");
  -webkit-mask-image: url("../icons/edit.svg");
}

.icon-plus {
  mask-image: url("../icons/plus.svg");
  -webkit-mask-image: url("../icons/plus.svg");
}

.icon-upload {
  mask-image: url("../icons/upload.svg");
  -webkit-mask-image: url("../icons/upload.svg");
}

.icon-recycle {
  mask-image: url("../icons/recycle.svg");
  -webkit-mask-image: url("../icons/recycle.svg");
}
.icon-search {
  mask-image: url("../icons/search-icon.svg");
  -webkit-mask-image: url("../icons/search-icon.svg");
}
.icon-search {
  mask-image: url("../icons/search-icon.svg");
  -webkit-mask-image: url("../icons/search-icon.svg");
}
.grid-style-icon {
  mask-image: url("../icons/grid.svg");
  -webkit-mask-image: url("../icons/grid.svg");
}
.horizontal-grid-style-icon {
  mask-image: url("../icons/grid-horizontal.svg");
  -webkit-mask-image: url("../icons/grid-horizontal.svg");
}

.icon-double-arrow-left {
  mask-image: url("../icons/double-arrow-left.svg");
  -webkit-mask-image: url("../icons/double-arrow-left.svg");
}

.icon-exit {
  mask-image: url("../icons/exit-icon.svg");
  -webkit-mask-image: url("../icons/exit-icon.svg");
}

.icon-add-plus {
  mask-image: url("../icons/add_plus.svg");
  -webkit-mask-image: url("../icons/add_plus.svg");
}

.icon-dots {
  mask-image: url("../icons/dots.svg");
  -webkit-mask-image: url("../icons/dots.svg");
}

.icon-shape {
  mask-image: url("../icons/Shape.svg");
  -webkit-mask-image: url("../icons/Shape.svg");
}

.icon-mail {
  mask-image: url("../icons/mail.svg");
  -webkit-mask-image: url("../icons/mail.svg");
}

.icon-phone {
  mask-image: url("../icons/phone.svg");
  -webkit-mask-image: url("../icons/phone.svg");
}

.icon-filled {
  mask-image: url("../icons/filled.svg");
  -webkit-mask-image: url("../icons/filled.svg");
}

.icon-x-close {
  mask-image: url("../icons/x_close.svg");
  -webkit-mask-image: url("../icons/x_close.svg");
}

.icon-more-dots {
  mask-image: url("../icons/more_dots.svg");
  -webkit-mask-image: url("../icons/more_dots.svg");
}

.icon-bottom {
  mask-image: url("../icons/bottom.svg");
  -webkit-mask-image: url("../icons/bottom.svg");
}

.icon-recycle2 {
  mask-image: url("../icons/recycle2.svg");
  -webkit-mask-image: url("../icons/recycle2.svg");
}

.icon-edit2 {
  mask-image: url("../icons/edit2.svg");
  -webkit-mask-image: url("../icons/edit2.svg");
}